<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DeadLock.Properties.Settings.DeadLockConnectionString"
            connectionString="Data Source=DESKTOP-Q7F1NI1\SQLEXPRESS;Initial Catalog=DeadLock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DeadLock.Properties.Settings.DeadLockConnectionString1"
            connectionString="Data Source=DESKTOP-9QTIITB\SQLEXPRESS;Initial Catalog=DeadLock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>



</configuration>